<!DOCTYPE html>
<html>
<head>
    <title>Blood SOS System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Blood Emergency System</h2>

<a href="/donor_register">
    <button>Register as Donor</button>
</a>

<a href="/hospital_register">
    <button>Register as Hospital</button>
</a>

<a href="/hospital_login">
    <button>Hospital Login</button>
</a>
    </div>
</div>

</body>
</html>