<!DOCTYPE html>
<html>
<head>
    <title>Hospital Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Hospital Section</h2>

         <form id="Hospitalform">
            <input type="text" id="name" placeholder="Hospital Name" required>
            <input type="text" id="phone" placeholder="Contact Number" required>
            <input type="password" id="password" placeholder="create password" required>

            <input type="hidden" id="lat">
            <input type="hidden" id="lng">

            <button type="button" onclick="getLocation('lat','lng')" class="btn-secondary">
                Get Location
            </button>

            <button type="submit" class="btn-primary">Register</button>
        </form>
        </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

<script>
document.getElementById("Hospitalform").addEventListener("submit", function(e){
    e.preventDefault();

    fetch("/api/register_hospital", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            name: document.getElementById("name").value,
            phone: document.getElementById("phone").value,
            password: document.getElementById("password").value,
            lat: document.getElementById("lat").value,
            lng: document.getElementById("lng").value
        })
    })
    .then(res => res.json())
    .then(data => alert(data.message));
});
</script>


</body>
</html>